body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* Conteneur principal */
.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}

/* Partie gauche */
.left {
}

.logo {
    color: blue;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.slogan {
    font-size: 24px;
    margin-top:5px;
}

/* Partie droite */
.right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    margin-top: 10px;
    background:white;
    width: 300px;
    padding: 20px;
    border-radius:8px ;
    box-shadow: 0 2px 10px;
}

.login-box input {
    width: 95%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    background-color: #1877f2;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #166fe5;
}

.forgot {
    display: block;
    margin: 15px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}

hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #dadde1;
}

.create-btn {
    background-color: #75b72a;
    color: white;
    font-size: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #36a420;
}

.page-link {
    margin-top: 40px;
    font-size: 14px;
}
