/* Exemple pour écran petit (téléphone) */
@media (max-width: 600px) {
    .contenu {
        flex-direction: column;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(circle at center, #1a1a1a, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    margin-top: 30px;
    height:110vh ;
    width: 340px;
    text-align: center;
}

.logo img {
    width: 130px;
    margin-bottom: 25px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

form {
    text-align: left;
}

label {
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid #333;
    background: #121212;
    color: #fff;
    margin-bottom: 20px;
}

input::placeholder {
    color: #777;
}

.btn-green {
    width: 100%;
    padding: 14px;
    background: #1ed760;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-green:hover {
    background: #1fdf64;
}

.divider {
    text-align: center;
    color: #aaa;
    margin: 15px 0;
}

.btn-outline {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: 1px solid #666;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-outline:hover {
    border-color: #fff;
}

.login {
    margin-top: 20px;
    font-size: 14px;
}

.login a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.footer {
    font-size: 11px;
    color: #888;
    margin-top: 30px;
    line-height: 1.4;
}

.footer a {
    color: #888;
    text-decoration: underline;
}
