/* Exemple pour écran petit (téléphone) */
@media (max-width: 600px) {
    .contenu {
        flex-direction: column;
    }
}
html,body{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    height: 100vh;
    place-items: center;
    background: #be2edd;
}
.main-div {
    width: 280px;
    background:#fff;
    padding:30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.main-div .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.main-div .icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.icons a {
    display: block;
    height:45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    transition:all 0,3s linear
}
.icons span {
    margin-left: 5px;
    font-size:18px
}
.icons a:first-child {
    margin-right:5px;
    background:#4267b2;
}
.icons a:first-child:hover {
    background: #375695
}
.icons a:last-child{
    margin-left:5px;
    background:#1da1f2;
}
.icons a:last-child:hover{
    background: #0d8bd9;
}
form{
    margin-top: 25px
}
form .input-box {
    height: 50px;
    width:90%;
    position: relative;
    margin-top: 15px;
}
.input-box input{
    height: 50px;
    width:100%;
    outline: none;
    font-size: 17px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0,3s ease;
}
.input-box input:focus{
    border-color: #be2edd;
}
.input-box .icon{
    position: absolute;
    top:50%;
    left:20px;
    color:grey;
    transition: translateY(-50%)
}
form .option-div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.option-div .check-box {
    display: flex;
    align-items: center;
}
.optin-div span {
    margin-left:5px;
    font-size:16px;
    color:#333;
}
.option-div .forget-div a{
    font-size: 16px;
    color:#be2edd;
}
.button input{
    color: #fff;
    font-size:20px;
    font-weight:500;
    border: none;
    padding-left:0;
    background:#be2edd;
    cursor: pointer;
    transition: all 0.3s linear;
    width:95%;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
}
.button input:hover {
    background:#a720c5;
}
form .sign-up{
    text-align: center;
    margin-top: 25px;
}
.sign-up a{
    color: #be2edd;
}
form a{
    text-decoration:none;
}
form a:hover{
    text-decoration: underline;
}